<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.shopping.cosmos.mapper.ProductDetailMapper">

    <select id="productDetail" resultType ="com.shopping.cosmos.vo.ProductDetailVO" parameterType="int">
        select p.product_seq, p.product_id, p.product_title, p.product_content, p.product_price, p.product_gender, p.product_category, p.product_img, p.product_color, p.product_size, p.product_material, op.product_stock, op.product_saled
        from tbl_product p, tbl_product_option op
        where p.product_seq = op.product_seq and op.product_id = #{id}
    </select>

    <insert id="insertCart" parameterType="com.shopping.cosmos.vo.CartVO">
        insert into tbl_cart(cart_id, user_email, product_seq, amount) values(seq_cart.nextval, #{user_email}, #{product_seq}, #{amount})
    </insert>

</mapper>