<?xml version="1.0" encoding="utf-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTDMapper3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductMapper">



    <!-- 해당 상품 클릭시 VO하나 출력 -->
    <select id="ProductByID" resultType="com.example.demo.vo.ProductVO"
            parameterType="int">
        select *
        from
        (select rownum rnum, p.*
        from
        (select product_id, product_title, product_content, product_price, product_gender, product_category, product_img, wm_concat(product_color) product_color, wm_concat(product_size) product_size
        from
        tbl_product group by product_id, product_title, product_content, product_price, product_gender, product_category, product_img) p) where product_id = #{product_id}
    </select>


    <!-- Product 리스트 출력 -->
    <select id="productCategory" parameterType="com.example.demo.vo.ProductVO" resultType="com.example.demo.vo.ProductVO">
        select *
        from
        (select rownum rnum, p.*
        from
        (select product_id, product_title, product_content, product_price, product_gender, product_category, product_img, wm_concat(product_color) product_color, wm_concat(product_size) product_size, product_saled
        from
        tbl_product, (select product_id product_option_id, sum(product_saled) product_saled from tbl_product_option group by product_id) where product_id = product_option_id
        group by product_id, product_title, product_content, product_price, product_gender, product_category, product_img, product_saled) p
        <where>
            <if test="search_keyword != null">
                and (product_title like '%'||#{search_keyword}||'%' or product_content like '%'||#{search_keyword}||'%' or product_category like '%'||#{search_keyword}||'%' or product_gender like '%'||#{search_keyword}||'%' or product_color like '%'||#{search_keyword}||'%' or product_size like '%'||#{search_keyword}||'%')
            </if>
            <if test="product_gender != null and product_gender != 'null'">
                and product_gender = #{product_gender}
            </if>
            <if test="product_category != null">
                and product_category = #{product_category}
            </if>
            <if test="product_category == null">
                and product_category != '악세사리'
            </if>
            <if test="select_color != null">
                and product_color like '%'||#{select_color}||'%'
            </if>
            <if test="select_size != null">
                and product_size like '%'||#{select_size}||'%'
            </if>
        </where>
        )
        <where>
            rnum between ((#{product_pageNum}-1)*12)+1 and (#{product_pageNum}*12)
            <if test="select_option != null and select_option == 'product_saled'">
                order by product_saled desc
                <!--order by #{select_option} desc-->
            </if>
            <if test="select_option != null and select_option == 'product_id'">
                order by product_id desc
                <!--order by #{select_option} desc-->
            </if>
            <if test="select_option != null and select_option == 'product_low_price'">
                order by product_price
                <!--order by #{select_option} desc-->
            </if>
            <if test="select_option != null and select_option == 'product_high_price'">
                order by product_price desc
                <!--order by #{select_option} desc-->
            </if>
        </where>
    </select>



    <!-- 페이지 번호 출력 -->
    <select id="findPageNum" parameterType="com.example.demo.vo.ProductVO" resultType="int">
        select max(rownum) from (select product_id, product_title, product_content, product_price, product_gender, product_category, product_img, wm_concat(product_color) product_color, wm_concat(product_size) product_size
        from tbl_product group by product_id, product_title, product_content, product_price, product_gender, product_category, product_img) p
        <where>
            <if test="search_keyword != null">
                and (product_title like '%'||#{search_keyword}||'%' or product_content like '%'||#{search_keyword}||'%' or product_category like '%'||#{search_keyword}||'%' or product_gender like '%'||#{search_keyword}||'%' or product_color like '%'||#{search_keyword}||'%' or product_size like '%'||#{search_keyword}||'%')
            </if>
            <if test="product_gender != null and product_gender != 'null'">
                and product_gender = #{product_gender}
            </if>
            <if test="product_category != null">
                and product_category = #{product_category}
            </if>
            <if test="product_category == null">
                and product_category != '악세사리'
            </if>
            <if test="select_color != null">
                and product_color like '%'||#{select_color}||'%'
            </if>
            <if test="select_size != null">
                and product_size like '%'||#{select_size}||'%'
            </if>
        </where>
    </select>


    <!-- Product 리스트 출력 -->
<!--    <select id="productCategory" parameterType="com.example.demo.vo.ProductVO" resultType="com.example.demo.vo.ProductVO">-->
<!--        select * from (-->
<!--        select rownum rnum, p.* ,o.product_color, o.product_size, o.product_saled from product p,-->
<!--        (select product_option_seq, wm_concat(product_color) product_color, wm_concat(product_size) product_size, sum(product_saled) product_saled from product_option group by product_option_seq) o-->

<!--        <where>-->
<!--                p.product_seq = o.product_option_seq-->
<!--            <if test="search_keyword != null and product_gender != 'undefined'">-->
<!--                and (p.product_title like '%'||#{search_keyword}||'%' or p.product_content like '%'||#{search_keyword}||'%' or p.product_category like '%'||#{search_keyword}||'%' or p.product_gender like '%'||#{search_keyword}||'%' or o.product_color like '%'||#{search_keyword}||'%' or o.product_size like '%'||#{search_keyword}||'%')-->
<!--            </if>-->
<!--            <if test="product_gender != null and product_gender != 'undefined' and product_gender != 'null'">-->
<!--                and p.product_gender = #{product_gender}-->
<!--            </if>-->
<!--            <if test="product_category != null and product_gender != 'undefined'">-->
<!--                and p.product_category = #{product_category}-->
<!--            </if>-->
<!--            <if test="product_category == null">-->
<!--                and p.product_category != '악세사리'-->
<!--            </if>-->
<!--            <if test="select_color != null and product_gender != 'undefined'">-->
<!--                and o.product_color like '%'||#{select_color}||'%'-->
<!--            </if>-->
<!--            <if test="select_size != null and product_gender != 'undefined'">-->
<!--                and o.product_size like '%'||#{select_size}||'%'-->
<!--            </if>-->
<!--        </where>-->
<!--        )-->
<!--        <where>-->
<!--         rnum between ((#{product_pageNum}-1)*12)+1 and (#{product_pageNum}*12)-->
<!--            <if test="select_option != null and select_option == 'product_saled'">-->
<!--                order by product_saled desc-->
<!--                &lt;!&ndash;order by #{select_option} desc&ndash;&gt;-->
<!--            </if>-->

<!--            <if test="select_option != null and select_option == 'product_seq'">-->
<!--                order by product_seq desc-->
<!--                &lt;!&ndash;order by #{select_option} desc&ndash;&gt;-->
<!--            </if>-->

<!--            <if test="select_option != null and select_option == 'product_low_price'">-->
<!--                order by product_price-->
<!--                &lt;!&ndash;order by #{select_option} desc&ndash;&gt;-->
<!--            </if>-->

<!--            <if test="select_option != null and select_option == 'product_high_price'">-->
<!--                order by product_price desc-->
<!--                &lt;!&ndash;order by #{select_option} desc&ndash;&gt;-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->




    <!-- 페이지 번호 출력 -->
<!--    <select id="findPageNum" parameterType="com.example.demo.vo.ProductVO" resultType="int">-->
<!--        select max(rownum)-->
<!--        from product p,-->
<!--        (select product_option_seq, wm_concat(product_color) product_color, wm_concat(product_size) product_size from product_option group by product_option_seq) o-->

<!--        <where>-->
<!--            p.product_seq = o.product_option_seq-->
<!--            <if test="search_keyword != null">-->
<!--                and (p.product_title like '%'||#{search_keyword}||'%' or p.product_content like '%'||#{search_keyword}||'%' or p.product_category like '%'||#{search_keyword}||'%' or p.product_gender like '%'||#{search_keyword}||'%' or o.product_color like '%'||#{search_keyword}||'%' or o.product_size like '%'||#{search_keyword}||'%')-->
<!--            </if>-->
<!--            <if test="product_gender != null">-->
<!--                and p.product_gender = #{product_gender}-->
<!--            </if>-->
<!--            <if test="product_category != null">-->
<!--                and p.product_category = #{product_category}-->
<!--            </if>-->
<!--            <if test="select_color != null">-->
<!--                and o.product_color like '%'||#{select_color}||'%'-->
<!--            </if>-->
<!--            <if test="select_size != null">-->
<!--                and o.product_size like '%'||#{select_size}||'%'-->
<!--            </if>-->
<!--        </where>-->
<!--    </select>-->

</mapper>